# Root node_modules
/node_modules

# Client & server node_modules
/client/node_modules
/server/node_modules

# Python virtual environments
/venv_fyp_new
/server/temp
/server/python/cleaningPipeline/__pycache__
# Build outputs
/server/dist
/server/build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
# .env
.env.local
.env.*.local
/server/.env.*.local

# OS / editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/